.square {
  width: 12.5%; 
  height: 100%; 
  object-fit: contain;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.selectedHighlight {
  background-color: #53a1a1;
}

.optionHighlight {
  background-color: #435f38;
}