.square {
  width: 12.5%; 
  height: 100%; 
  object-fit: contain;
}

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}

.selectedHighlight {
  background-color: var(--selected);
}

.optionHighlight {
  background-color: var(--option);
}