.boardContainer {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  background-color: red;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: ease-out;
}

.loader {
  opacity: 0.3;
}

.moveLoader {
  position: absolute;
  top: 45%;
  left: 45%;
}
