.boardContainer {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  background-color: red;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: ease-out;
}

.loading {
  opacity: 0.3;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #6b6b6b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.spinner-container {
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
